* {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: arial, sans-serif !important;
	background-color: var(--cs-color-bg);
}

button {
	border: none;
	padding: 16px;
	width: 100%;
	border-radius: 4px;
}

.colorWhite {
	color: white;
}

.colorSecondary {
	color: var(--cs-color-secondary);
}

.colorInfo {
	color: var(--cs-color-info);
}

.colorGray {
	color: var(--cs-color-gray);
}

.content {
	width: 100%;
	margin-top: 72px;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 80px 0;
}

.containerTitle {
	text-align: center;
	max-width: 620px;
	font-size: 36px;
	line-height: 42px;
}

.containerSubtitle {
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	margin-top: 32px;
}

.gradient {
	background: var(--cs-gradient-main);
}

.banner {
	max-width: var(--cs-content-size);
	display: flex;
	flex-direction: column;
}

.mainBanner {
	flex-direction: row;
}

.bannerText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainBannerText {
	margin-right: 72px;
}

.bannerTitle {
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 40px;
}

.bannerDescription {
	font-size: 16px;
	line-height: 27px;
	color: var(--cs-color-gray);
}

.videos {
	margin-top: 40px;
	display: flex;
	gap: 32px;
}

a.containerSubtitle {
	font-size: 20px;
	text-decoration: underline;
}
.products {
	margin-top: 56px;
	display: flex;
	gap: 32px;
}

.product {
	max-width: 320px;
}

.productName {
	font-size: 22px;
	line-height: 26px;
}

.productSubtitle {
	margin-top: 18px;
	font-size: 18px;
	line-height: 22px;
}

.productInfo {
	margin-top: 16px;
	margin-bottom: 32px;
}

.btnContained {
	background-color: var(--cs-color-info);
}

.products {
	display: flex;
}

.benefits {
	display: flex;
	gap: 32px;
}

.benefitTitle {
	font-size: 18px;
	line-height: 22px;
	margin-top: 24px;
}

.benefitDescription {
	font-size: 16px;
	line-height: 22px;
	margin-top: 16px;
}

.params {
	margin-top: 48px;
	display: flex;
	flex-wrap: wrap;
}

.params > :nth-last-child(2n + 3) {
	border-right: 1px solid var(--cs-color-gray);
}

.params > :last-child {
	border-bottom: 1px solid var(--cs-color-gray);
}
.paramCard {
	border-top: 1px solid var(--cs-color-gray);
	box-sizing: border-box;
	padding: 24px 16px;
	flex: 50%;
}

.paramDescription {
	margin-top: 16px;
}

.community {
	display: flex;
	gap: 36px;
}

.communityTitle {
	display: flex;
	align-items: center;
	gap: 24px;
	color: var(--cs-color-main);
	font-size: 36px;
	line-height: 42px;
}

.communityItem {
	margin-top: 16px;
	margin-bottom: 48px;
}

.communitySubtitle {
	color: var(--cs-color-main);
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 16px;
}

.communityDescription {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: var(--cs-color-gray);
}

.communityHub {
	font-size: 20px;
	line-height: 24px;
	color: var(--cs-color-info);
	text-decoration: underline;
}
