body {
	margin: 0;
	font-family: arial, sans-serif !important;
	color: var(--cs-page-default-fg);
	background-color: var(--cs-page-default-bg);
}

img.svg-gray {
	-webkit-filter: invert(0.9);
	filter: invert(0.9);
	vertical-align: middle;
}

div.content {
	width: 100%;
	text-align: center;
	margin-top: 100px;
}

div.block {
	display: inline-block;
	margin-bottom: 50px;
	max-width: 70%;
	background-color: var(--cs-page-block-bg);
	padding: 20px;
}

div.block table {
	display: inline-table;
}
div.block table td {
	padding: 10px;
}

div.block ul li {
	padding: 5px;
}

a.clickable {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
}
a.clickable div {
	padding-left: 32px;
	padding-right: 32px;
	line-height: 50px;
	background-color: var(--cs-navbar-item-important-bg);
	color: var(--cs-navbar-item-important-fg);
}
a.clickable div:hover:not(.active),
a.clickable div:hover:not(.active) {
	background-color: var(--cs-navbar-item-important-hovered-bg);
	color: var(--cs-navbar-item-hovered-fg);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* iPad 8 */
	a.clickable div:hover:not(.active),
	a.clickable div:hover:not(.active) {
		background-color: var(--cs-navbar-default-bg) !important;
	}
}


.text-left {
	text-align: left;
}

ul.footer {
	list-style-type: none;
	bottom: 0;
	width: 100%;
	padding: 0;
	font-size: 0.7em;
}
ul.footer li {
	padding: 20px;
}
ul.footer li.left {
	float: left;
}
ul.footer li.right {
	float: right;
}
