@media (min-width: 992px) {
	.fullscreen {
		height: calc(100vh - 70px);
	}
}

a {
	color: var(--cs-color-info);
}

.scrollbar::-webkit-scrollbar {
	width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: var(--cs-color-gray);
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--cs-color-info);
	border-radius: 4px;
}

.color-white {
	color: white;
}

.color-secondary {
	color: var(--cs-color-secondary);
}

.color-info {
	color: var(--cs-color-info);
}

.color-gray {
	color: var(--cs-color-gray);
}

.color-main {
	color: var(--cs-color-main);
}

.bg-color-main {
	background-color: var(--cs-color-main);
}

.text-lg {
	font-size: 36px;
	line-height: 42px;
	font-weight: 700;
}

.text-md {
	font-size: 18px;
	line-height: 22px;
}

.text-sm {
	font-size: 16px;
	line-height: 22px;
}

.content-size {
	max-width: var(--cs-content-size);
}

.content {
	margin-top: 70px;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.block {
	height: 100%;
}

.containerTitle {
	text-align: center;
	max-width: 620px;
}

@media (min-width: 992px) {
	.downloadTitle {
		height: 5.5rem;
	}
	.downloadTitle > h2 {
		gap: 20px;
	}
}
.containerSubtitle {
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	margin-top: 32px;
}

.interfaces {
	overflow-x: auto;
}

@media (min-width: 992px) {
	#collapseProducts {
		border-top: 1px solid var(--cs-color-gray);

		position: absolute;
		top: 70px;
		right: 0;
		left: 0;
		padding-top: 24px;
		padding-bottom: 32px;
	}
	.productImg {
		width: 496px;
	}
}

@media (max-width: 992px) {
	.categories > li {
		margin-left: 14px;
		margin-top: 16px;
	}
}

#products[aria-expanded="true"] > .arrow {
	transform: rotate(180deg);
}

.categoryName {
	font-style: 16px;
	line-height: 18px;
	font-weight: 400;
}

.categories {
	list-style-type: none;
}

.categories > li:not(:first-child) {
	margin-top: 22px;
}

@media (min-width: 992px) {
	.categories {
		border-top: 1px solid var(--cs-color-gray);
	}
}

.gradient {
	background: var(--cs-gradient-main);
}

.banner {
	padding: 80px;
}

@media (max-width: 600px) {
	.banner {
		padding: 40px;
	}
}

.mainBanner {
	flex-direction: row;
}

.mainBannerText {
	margin-right: 72px;
}

.bannerTitle {
	margin-bottom: 40px;
}

.bannerDescription {
	color: var(--cs-color-gray);
	margin-top: 40px;
}

@media (max-width: 600px) {
	.bannerDescription {
		margin-top: 24px;
	}
}

.videos {
	overflow-y: auto;
}

a.containerSubtitle {
	font-size: 20px;
	text-decoration: underline;
}

.products {
	margin-top: 56px;
}

.mainProduct {
	object-fit: contain;
}

@media (max-width: 600px) {
	.products {
		margin-top: 32px;
	}
}

.productName {
	font-size: 22px;
	line-height: 26px;
}

.productSubtitle {
	margin-top: 18px;
}

.productInfo {
	margin-top: 16px;
	margin-bottom: 32px;
}

.btn {
	padding: 16px;
	width: 100%;
	border-radius: 4px;
	text-transform: uppercase;
}

.btnContained {
	background-color: var(--cs-color-info);
	border: 2px solid var(--cs-color-info) !important;
}

.buyBtn {
	font-size: 22px;
	line-height: 24px;
}

.products {
	display: flex;
}

/* .benefits {
	display: flex;
	gap: 32px;
} */

.benefitTitle {
	margin-top: 24px;
}

.benefitDescription {
	margin-top: 16px;
}

@media (min-width: 992px) {
	.params > :nth-last-child(2n + 3) {
		border-right: 1px solid var(--cs-color-gray);
	}

	.params > :last-child {
		border-bottom: 1px solid var(--cs-color-gray);
	}

	.paramCard {
		border-top: 1px solid var(--cs-color-gray);
	}
}

@media (max-width: 992px) {
	.paramsBanner {
		padding-bottom: 0;
	}
	.paramCard {
		border-top: 1px solid var(--cs-color-gray);
	}
}

.paramDescription {
	margin-top: 16px;
}

.communityTitle {
	display: flex;
	align-items: center;
	gap: 24px;
	color: var(--cs-color-main);
}

.communityDescription {
	font-weight: 400;
	color: var(--cs-color-gray);
}

.communityHub {
	font-size: 20px;
	line-height: 24px;
	color: var(--cs-color-info);
	text-decoration: underline;
}

.footer {
	padding: 32px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.footerButtons {
	width: 100%;
	max-width: var(--cs-content-size);
	display: flex;
	gap: 28px;
}

.footerBtn {
	font-size: 22px;
	line-height: 24px;
	font-weight: 500;
}

@media (max-width: 992px) {
	.footerButtons {
		gap: 16px;
	}
}

@media (min-width: 992px) {
	.footerButtons {
		gap: 28px;
	}
}

.darkBtn {
	background-color: var(--cs-color-main);
	color: var(--cs-color-info);
	border: 2px solid var(--cs-color-info);
}

.darkBtn:hover {
	border: 2px solid white;
	color: white;
}

.infoBlock {
	margin-top: 48px;
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 992px) {
	.infoBlock > :nth-child(3n) {
		border-left: 1px solid var(--cs-color-gray);
	}

	.infoBlock > :nth-last-child(3n) {
		border-right: 1px solid var(--cs-color-gray);
	}

	.infoBlock > :nth-last-child(-n + 3) {
		border-bottom: 1px solid var(--cs-color-gray);
	}

	.infoCard {
		border-top: 1px solid var(--cs-color-gray);
		box-sizing: border-box;
	}
}

@media (max-width: 992px) {
	.infoBlock > :nth-last-child(n) {
		border-top: 1px solid var(--cs-color-gray);
	}
}
