:root {
	--cs-content-size: 1024px;

	--cs-color-bg: #ffffff;

	--cs-color-main: #1e1e37;
	--cs-color-secondary: #323151;
	--cs-color-info: #6f85ff;

	--cs-color-gray: #b6b6b6;

	--cs-gradient-main: linear-gradient(
			240.43deg,
			rgba(0, 0, 0, 0.2) -3.92%,
			rgba(95, 120, 255, 0.2) -3.91%,
			rgba(0, 0, 0, 0) 73.94%
		),
		linear-gradient(
			96.89deg,
			rgba(255, 0, 214, 0.2) -0.34%,
			rgba(0, 0, 0, 0) 102.09%
		),
		#323151;
}
