:root {
	--cs-page-default-bg: #ffffff;
	--cs-page-default-fg: #333333;
	--cs-page-block-bg: #f2f1f0;

	--cs-control-default-bg: #4caf50;
	--cs-control-default-fg: #ffffff;
	--cs-control-hovered-bg: #111315;
	--cs-control-hovered-fg: #ffffff;

	--cs-navbar-default-bg: #333333;
	--cs-navbar-default-fg: #e6e6e6;
	--cs-navbar-item-important-bg: #4caf50;
	--cs-navbar-item-important-fg: #ffffff;
	--cs-navbar-item-important-hovered-bg: #2f6d31;
	--cs-navbar-item-hovered-bg: #111315;
	--cs-navbar-item-hovered-fg: #ffffff;

	--shadow-micro: 1px 2px 4px 0 rgba(0, 0, 0, 0.4);
	--shadow-small: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	--shadow-big: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
	--shadow-navbar-item-pressed: 0 5px 0 #5b90bb inset;

	--border-default-thin: thin solid #36393f;
	--border-default-2px: 2px solid #36393f;
	--border-hovered-2px: 2px solid #2a2d31;
	--border-navbar-item-thin: thin solid #646464;
	--border-control-thin: thin solid #17191d;
	--border-window-thin: thin solid #17191d;
	--border-key-thin: thin solid #202225;
	--border-intensive-2px: 2px solid #5b90bb;
	--border-intensive-thin: thin solid #5b90bb;

	--border-navbar-menu-default-2px: 2px solid black;
	--border-navbar-menu-active-2px: 2px solid #5b90bb;
	--border-menu-item-content-top-thin: thin solid #17191d;
}
