extends ../base.pug

append vars
	- title = "PiKVM / Support - Open and inexpensive DIY IP-KVM on Raspberry Pi"

block body
	div(class="content")
		div(class="block")
			h3
				| Right now we are providing technical support for PiKVM users via Discord.
			| #[h3 #[a(target="_blank" href=discord_link) >>> Click here to join the chat <<<]]
			| If you are interested in a contract for commercial support and revision of PiKVM, write to the #[a(href=email_link) mail].
