extends components/layout.pug

append vars
	- title = "PiKVM - Open and inexpensive DIY IP-KVM on Raspberry Pi"


block body
	main.content
		include components/main/banner.pug

		//- include components/main/videos.pug

		include components/main/products.pug

		include components/main/benefits.pug

		include components/main/info.pug

		include  components/main/Interfaces.pug

		include components/main/params.pug

		include components/main/community.pug

		include components/footer.pug	
