extends ../base.pug

append vars
	- title = "PiKVM / Donate - Open and cheap DIY IP-KVM on Raspberry Pi"

block body
	div(class="content")
		div(class="block")
			h3
				| Thank you for buying PiKVM v3 HAT!
			| To make it easier to start using it, we have prepared a simple guide for you.
			| #[h3 #[a(target="_blank" href="https://docs.pikvm.org/v3") >>> PiKVM v3 Getting Started <<<]]
			| Just follow the steps and you will succeed!#[br]
			| And if you encounter difficulties, we will always be happy to help you in our #[a(target="_blank" href=discord_link) Discord chat].
