
.container.gradient
    .banner.mainBanner
        .bannerText.mainBannerText
            h1.text-lg.color-white 
                | PiKVM - Open and inexpensive 
                | DIY IP-KVM on Raspberry Pi
            p.bannerDescription.text-sm 
                | A very simple and fully functional Raspberry Pi-based  KVM over IP that  you can make with your own hands
                | without any soldering!
                | This device helps to manage servers or workstations remotely, regardless of the health of the
                | operating system or whether one is installed.
                | You can fix any problem, configure the BIOS, and even reinstall the OS using the virtual
                | CD-ROM or Flash Drive.
                | It only costs between $30 and $100 for DIY depending on the features desired.
                | Even the most expensive configuration will be cheaper than a $500 commercial IP-KVM.	
        img(src="/assets/pikvm.png" alt="pikvm")
