.container-fluid 
    .banner.d-flex.justify-content-center
        .row.w-100.content-size.justify-content-between.flex-lg-row
            h2.color-main.text-lg.text-center.mb-2.mb-lg-0 Interfaces
            .row.mt-4.mt-lg-5
                img.col-12.col-lg-6(src="/assets/interface.jpg")
                img.col-12.col-lg-6.mt-4.mt-lg-0(src="/assets/interface.jpg")
