.container-fluid 
    .banner.d-flex.justify-content-center
        .row.w-100.content-size.justify-content-between.flex-lg-row
            h2.color-main.text-lg.text-center.mb-2.mb-lg-0 Interfaces
            .row.mt-4.mt-lg-5.scrollbar.flex-nowrap.interfaces.pb-0.pb-md-3.d-none.d-md-flex
                img.col-12.col-lg-6(src="/assets/interface.jpg")
                img.col-12.col-lg-6.mt-4.mt-lg-0(src="/assets/interface.jpg")
                img.col-12.col-lg-6.mt-4.mt-lg-0(src="/assets/interface.jpg")
            .d-md-none.d-flex.flex-column.align-items-center.mt-4
                .d-flex.flex-column
                    img.col-12.col-lg-6(src="/assets/interface.jpg")
                    img.col-12.col-lg-6.mt-4.mt-lg-0(src="/assets/interface.jpg")
                #interfaces.collapse.mt-4
                    .d-flex.flex-column
                        img.col-12.col-lg-6(src="/assets/interface.jpg")
                        img.col-12.col-lg-6.mt-4.mt-lg-0(src="/assets/interface.jpg")
                        
                a.containerSubtitle.color-info.navbar-toggler(type='button', data-bs-toggle='collapse', href='#interfaces', aria-controls='interfaces', aria-expanded='false') See more
                

            

