footer.container-fluid.gradient.footer
    .footerButtons.flex-column.flex-md-row
            form.w-100(action="/buy")
                button.btn.w-100.btnContained.color-white BUY PIKVM V3 RIGHT NOW!
            form.w-100(action="/buy")
                button.btn.w-100.darkBtn BUY PIKVM V3 RIGHT NOW!