footer.footer.gradient
    .footerButtons
        form(action="/buy")
            button.btnContained.color-white BUY PIKVM V3 RIGHT NOW!
        form(action="/buy")
            button.darkBtn BUY PIKVM V3 RIGHT NOW!