footer.container-fluid.gradient.footer
    .footerButtons.flex-column.flex-md-row
            form.w-100(action="/buy")
                button.btn.w-100.btnContained 
                    span.color-white.footerBtn BUY PIKVM V3 RIGHT NOW!
            form.w-100(action="/buy")
                button.btn.w-100.darkBtn.footerBtn BUY PIKVM V3 RIGHT NOW!