footer(class="footer")
    li(class="left")
        | Development would be impossible without#[br]
        | the #[a(href="/donate") financial support of the community].
    li(class="right")
        | The site design was inspired by Rusjp's work