extends ../base.pug

append vars
	- title = "PiKVM / Donate - Open and inexpensive DIY IP-KVM on Raspberry Pi"

block body
	div(class="content")
		div(class="block")
			h3
				| Hello! I'm Maxim Devaev,#[br]
				| the creator and main developer of PiKVM.#[br]
				| Thank you for visiting this page!
			| My work on PiKVM takes a lot of time and effort.
			| I'm developing new features, providing user support, testing hardware, admining project's servers,
			| maintaining the package repository and much more. I make a lot of other small things that take up my entire work day :)#[br]
			| #[br]
			| If you find PiKVM useful or it has saved you a long trip to check on an unresponsive server, you can support my job
			| either regularly or through one time contributions.#[br]
			| #[br]
			| #[b Thanks to the kind people who support me, PiKVM becomes my 100% full time job!]#[br]
			| #[br]
			| As a thank you, each sponsor will be mentioned in the thanks-section on #[a(target="_blank" href=github_link) GitHub] and
			| in the PiKVM web interface!#[br]
			| #[br]
			| With a company and open to a sponsorship? #[a(href=email_link) Mail me!]
			hr
			table
				tr
					td
						h4 Regulary
						+img("patreon.jpg", 200, "https://patreon.com/pikvm")
						| #[br]
						| #[b Become a patron on Patreon!]#[br]
						| #[sub Include honorary role on our #[a(target="_blank" href=discord_link) Discord server!]]
					td
						h4 One time
						+img("paypal.png", 200, "https://paypal.me/pikvm")
						| #[br]
						| #[b Make a one-time contribution through PayPal!]#[br]
						| #[sub No paypal.me? Send funds via PayPal to #[b mdevaev@gmail.com]]

