extends ../base.pug

append vars
	- title = "Buy PiKVM v3 HAT"

block body
	div(class="content")
		div(class="block")
			h3 Here you can buy PiKVM v3 HAT from our resellers!
			| Australia: #[a(target="_blank" href="https://core-electronics.com.au/search/?q=pikvm") Core Electronics] #[br]#[br]
			| Canada: #[a(target="_blank" href="https://www.pishop.ca/search.php?search_query=pikvm&section=product") PiShop.ca] #[br]#[br]
			| Germany: #[a(target="_blank" href="https://www.welectron.com/navi.php?qs=pikvm") Welectron] #[br]#[br]
			| Netherlands: #[a(target="_blank" href="https://www.elektor.com/catalogsearch/result/?q=pikvm") Elektor] #[br]#[br]
			| Switzerland: #[a(target="_blank" href="https://www.pi-shop.ch/catalogsearch/result/?q=pikvm") Pi-Shop.ch] #[br]#[br]
			| United Kingdom: #[a(target="_blank" href="https://shop.pimoroni.com/?q=pikvm") Pimoroni], #[a(target="_blank" href="https://thepihut.com/pages/search-results?q=pikvm") The Pi Hut] #[br]#[br]
			| United States: #[a(target="_blank" href="https://www.pishop.us/search.php?search_query=pikvm&section=product") PiShop.us], #[a(target="_blank" href="https://cloudfree.shop/?s=pikvm") CloudFree]#[br]#[br]
			hr
			| Want to be in this cool list? You run a Pi/electronics store and your country is not listed here?#[br]
			| #[a(href="mailto:wholesale@hipi.io") Drop us a line] and we will be happy to talk.#[br]
			| Our goal is to make PiKVM available (locally) in all 195 countries! :)
