extends ../components/layout.pug

append vars
	- title = "Buy PiKVM v3 HAT"

block body
	main.content
		.container-fluid.gradient.h-100.d-flex.align-items-center.justify-content-center.p-4.p-sm-5 
				.content-size.text-white.row.m-0.m-md-4
					.col-12.col-md-6
						h1.m-0.text-lg Product name
						img.productImg.mt-5(src="/assets/product.png")

					.col-12.col-md-6.mt-5.mt-lg-0
						h2.m-0.fs-4
							b Here you can buy PiKVM v3 HAT from our resellers!
						.mt-3
							p.fw-bolder.mb-2  Australia: #[a(href="") Core Electronics]
							p.fw-bolder.mb-2 Canada: #[a(href="") PiShop.ca]
							p.fw-bolder.mb-2 Czech Republic: #[a(href="") RPishop.cz]
							p.fw-bolder.mb-2 Germany: #[a(href="") Welectron]
							p.fw-bolder.mb-2 Greece: #[a(href="") Nettop]
							p.fw-bolder.mb-2 India: #[a(href="") Robu.in]
							p.fw-bolder.mb-2 Netherlands: #[a(href="") Elektor]
							p.fw-bolder.mb-2 Switzerland: #[a(href="") Pi-Shop.ch]
							p.fw-bolder.mb-2 United Kingdom: #[a(href="") Pimoroni, The Pi Hut]
							p.fw-bolder United States: #[a(href="") PiShop.us, CloudFree]
					.col-12.col-md-6
						p.mt-5.text-sm.color-gray My work on PiKVM takes a lot of time and effort. I'm developing new features, providing user support, testing hardware, admining project's servers, maintaining the package repository and much more. I make a lot of other small things that take up my entire work day :)If you find PiKVM useful or it has saved you a long trip to check on an unresponsive server, you can support my job either regularly or through one time contributions.
						h2.fw-bolder.fs-4.mt-4 This device has all the features of the DIY version, including:
						ul.text-sm.color-gray 	
							li HDMI Full HD capture based on the TC358743 chip (extra low latency ~100ms and many features like compression control).
							li OTG Keyboard & mouse; Mass Storage Drive emulation.
							li Ability to simulate "removal and insertion" for USB.
							li Onboard ATX power control.
							li Onboard fan controller.
							li A real-time clock.
							li RJ-45 and USB serial console port (to manage PiKVM OS or to connect with the server).
							li No need for soldering or breadboarding. It's a pre-assembled, reliable device which you can use yourself or provide to your clients.
							li Continued use of PiKVM OS - all the software is fully open.