extends ../components/layout.pug

append vars
	- title = "PiKVM / Download - Open and inexpensive DIY IP-KVM on Raspberry Pi"

block body
	+navbar("/download")
	main.content.fullscreen
		.container-fluid.h-100.d-flex.align-items-center.justify-content-center.px-4.px-sm-5.px-md-0
				.content-size.color-main.row.flex-wrap.flex-md-nowrap
					.col-12.col-md-6
						h1.m-0.fs-3
							b Here you can find ready-made PiKVM images for Raspberry Pi
						p.mt-4.color-gray Download the appropriate memory card image for the #[a(href="") PiKVM]. Select the image by the #[a(href="") board, platform], and the video capture device you are using.Minimum 16 Gb memory card class 10 is strongly recommended.
						h2.text-md.mt-4 Raspberry Pi 4, v2 platform:
						ul 	
							li.color-gray.text-sm For HDMI-to-CSI bridge: 
								a(href="") v2-hdmi-rpi4-latest.img.xz [SHA-1]
							li.color-gray.text-sm For HDMI-to-USB dongle:
								a(href="") v2-hdmiusb-rpi4-latest.img.xz [SHA-1]
						
						h2.text-md.mt-4 Raspberry Pi Zero 2 W, v2 platform:
						ul 	
							li.color-gray.text-sm or HDMI-to-CSI bridge:
								a(href="")  v2-hdmi-zero2w-latest.img.xz [SHA-1]

						h2.text-md.mt-4 Raspberry Pi Zero W (legacy), v2 platform:
						ul 	
							li.color-gray.text-sm For HDMI-to-CSI bridge: 
								a(href="")  v2-hdmi-zerow-latest.img.xz [SHA-1]
						h2.text-md.mt-4 Raspberry Pi 4, v3 HAT platform:
						ul 	
							li.color-gray.text-sm For v3 HAT Platform only: 
								a(href="") v3-hdmi-rpi4-latest.img.xz [SHA-1]

					.col-12.col-md-6.mt-5.mt-md-0.pb-5.ms-0.ms-md-1
						.d-flex.justify-content-center.justify-content-md-start
							.downloadTitle
								h2.align-items-center.d-flex.h-4.color-main.mt-2.mt-md-0.mt-3.text-lg.flex-column.flex-lg-row #[img.communityLogo(src="/assets/communityhub.svg")] #[a.communityHub(href= github_link) DIY GETTING STARTED]
						p.color-gray.mt-4.mt-md-0 To flash the image #[a(href="") follow the instructions.]
						p.color-gray Right now, pre-compiled images are only available for the Raspberry Pi 4 and Zero (2) W. In all other cases, you will need to build the operating system yourself. But don't worry, it's #[a(href="") very simple.]
						a(href="") Images archive.